@{
    ViewBag.Title = "title";
}

@section styles
{
    <link href="~/Content/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
}

@section scripts{
    <script src="~/Content/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/Content/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/global/scripts/table-datatables-buttons.min.js" type="text/javascript"></script>
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Report</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Monthly Report</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <button class="btn green" type="button" data-toggle="dropdown" onclick="generate();">
            Generate
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        Select A Customer
                    </div>
                    <select id="single" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" onchange="changeCustomer(this.options[this.options.selectedIndex].value)">
                        <option></option>
                        @foreach (var customer in ViewBag.Customers)
                        {
                            var select_value = Request.QueryString["CustomerId"] != null && Request.QueryString["CustomerId"].Equals(customer.CustomerID.ToString());
                            if (select_value)
                            {
                                <option value="@customer.CustomerID" selected="selected">
                                    @customer.CustomerName
                                </option>
                            }
                            else
                            {
                                <option value="@customer.CustomerID">
                                    @customer.CustomerName
                                </option>
                            }
                           
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <span>Select Month</span>
                    </div>
                    <input id="report_month" name="report_month" type="text" class="form-control" value="@Request.QueryString["reportDate"]" placeholder="Please Select Report Month" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>Last Month
                </div>
            </div>
            <div class="portlet-body">

                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover" id="last_table">
                        <thead>
                        <tr>
                            <th>Project</th>
                            <th>Team</th>
                            <th>Time</th>
                            <th>Modify</th>
                            <th>Tasks</th>
                            <th>Avg</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (ViewBag.Model != null)
                        {
                            foreach (var reportInfo in ViewBag.Model)
                            {
                                <tr>
                                    <td class="highlight" width="10%">
                                        @reportInfo.ProjectName
                                    </td>
                                    <td class="highlight" width="10%">
                                        @reportInfo.TeamName
                                    </td>
                                    <td class="highlight" width="10%">
                                        @reportInfo.LastTime
                                    </td>
                                    <td class="highlight" width="10%">
                                        @reportInfo.LastModify
                                    </td>
                                    <td class="highlight" width="10%">
                                        @reportInfo.LastTask
                                    </td>
                                    <td class="highlight" width="10%">
                                        @reportInfo.LastAvg
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6" onload>
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>This Month
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover" id="this_table">
                        <thead>
                        <tr role="row">
                            <th>Project</th>
                            <th>Team</th>
                            <th>Time</th>
                            <th>Modify</th>
                            <th>Tasks</th>
                            <th>Avg</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (ViewBag.Model != null)
                        {
                            foreach (var reportInfo in ViewBag.Model)
                            {
                                <tr>
                                    <td class="highlight" width="10%">
                                        @reportInfo.ProjectName
                                    </td>
                                    <td class="highlight" width="10%">
                                        @reportInfo.TeamName
                                    </td>
                                    <td class="highlight" width="10%">
                                        @reportInfo.CurrentTime
                                    </td>
                                    <td id="@reportInfo.ProjectId" class="highlight" width="10%" ondblclick="editTime(@reportInfo.ProjectId, @reportInfo.TeamId)">
                                        @reportInfo.CurrentModify
                                    </td>
                                    <td class="highlight" width="10%">
                                        @reportInfo.CurrentTask
                                    </td>
                                    <td class="highlight" width="10%">
                                        @reportInfo.CurrentAvg
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <textarea rows="8" id="comment" name="comment" wrap="hard" placeholder="Write comment here ..." class="form-control input-md"></textarea>
        <div>
            <p>1、Only display your team data</p>
            <p>2、Project Summary displays each project number</p>
            <p>3、Time Spend Details display each project time in detail</p>
            <p>4、Monthly Summary shows total with Processor used, please confirm this number with Manager before report released</p>
        </div>
    </div>

</div>

<script>
    reportList = [];

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }

    function editTime(projectID, teamID) {
        var id = '#' + projectID;
        var td = $(id);
        // 根据表格文本创建文本框 并加入表表中--文本框的样式自己调整
        var text = td.text();
        var txt = $("<input type='text' class='edit_text' style='width:100px;text-align:left;'>").val("");
        txt.keypress(function(event) { 
            var keyCode = event.which; 
            if (keyCode == 46 || (keyCode >= 48 && keyCode <=57)) 
                return true; 
            else 
                return false; 
        }).focus(function() { 
            this.style.imeMode='disabled'; 
        }); 
        txt.select();
        txt.blur(function () {
            // 失去焦点，保存值。于服务器交互自己再写,最好ajax
            var newText = $(this).val();
            // 移除文本框,显示新值
            $(this).remove();
            if (newText.trim() === "")
                newText = text;
            td.text(newText);
            more = newText - text;
            $.ajax({
                url: "ModifyReport",
                type: "post",
                data: { projectID: projectID, teamID:teamID, modifyTime: more },
                success: function (date) {
                    window.location.href = window.location.href;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    window.location.href = window.location.href;
                }
            });
        });
        td.text("");
        td.append(txt);
        txt.focus();
    }

    function generate() {
        var comment = $('#comment').val();
        var customerId = GetQueryString('customerId');
        var currentMonth = GetQueryString('reportDate');
        if (currentMonth === null || currentMonth === '') {
            var myDate = new Date();
            var month = '0' + (myDate.getMonth() + 1);
            month = month.substring(month.length - 2, month.length);
            currentMonth = myDate.getFullYear() + '-' + month;
        }
        $.ajax({
            url : "Report",
            type: "post",
            data: { reportList: reportList, comment: comment, customerId: customerId, currentMonth: currentMonth },
            success: function (date) {
                var obj = window.open("about:blank");
                obj.document.write(date);
            }
        });
    }

    function changeCustomer(v) {
        window.location.href = "/Report/Index?customerId=" + v;
    }

    $(document).ready(function(){
        reportList = @Html.Raw(Json.Encode(ViewBag.Model));
        var table = document.getElementById("this_table");
        makeSortable(table);
        var table = document.getElementById("last_table");
        makeSortable(table);
    });

    function DatePicker(beginSelector) {
        // 仅选择日期
        $(beginSelector).datepicker(
            {
                autoclose: true,
                startView: 0,
                format: "yyyy-mm",
                clearBtn: true,
                todayBtn: false,
            }).on('changeDate',
            function (ev) {
                var select_month = $(beginSelector).val();
                var customer_id = GetQueryString("customerId");
                window.location.href = "/Report/Index?customerId=" + customer_id + "&reportDate=" + select_month;
            });
    }

    DatePicker("#report_month");
    
    function makeSortable(table) {
        var headers=table.getElementsByTagName("th");
        for(var i=0;i<headers.length;i++){
            (function(n){
                var flag=false;
                headers[n].onclick=function(){
                    // sortrows(table,n);
                    var tbody=table.tBodies[0];//第一个<tbody>
                    var rows=tbody.getElementsByTagName("tr");//tbody中的所有行
                    rows=Array.prototype.slice.call(rows,0);//真实数组中的快照

                    //基于第n个<td>元素的值对行排序
                    rows.sort(function(row1,row2){
                        var cell1=row1.getElementsByTagName("td")[n];//获得第n个单元格
                        var cell2=row2.getElementsByTagName("td")[n];
                        var val1=cell1.textContent||cell1.innerText;//获得文本内容
                        var val2=cell2.textContent||cell2.innerText;

                        if (!isNaN(parseFloat(val1))) {
                            val1 = parseFloat(val1);
                            val2 = parseFloat(val2);
                        }

                        if(val1<val2){
                            return -1;
                        }else if(val1>val2){
                            return 1;
                        }else{
                            return 0;
                        }
                    });
                    if(flag){
                        rows.reverse();
                    }
                    //在tbody中按它们的顺序把行添加到最后
                    //这将自动把它们从当前位置移走，故没必要预先删除它们
                    //如果<tbody>还包含了除了<tr>的任何其他元素，这些节点将会悬浮到顶部位置
                    for(var i=0;i<rows.length;i++){
                        tbody.appendChild(rows[i]);
                    }

                    flag=!flag;
                }
            }(i));
        }
    }
</script>
