@{
    ViewBag.Title = "title";
}
@section scripts{
    <script src="~/Scripts/echarts.min.js" type="text/javascript"></script>
    <script src="~/Scripts/html2canvas.min.js" type="text/javascript"></script>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Report</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Monthly Report</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <button type="button" class="btn btn-success" onclick="exportReport();">Export</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>Monthly Report
                </div>
            </div>
            <div id="report" class="portlet-body">
                <div class="text-center">
                    <p><h2><b>UnionServ Monthly Report</b></h2></p>
                    <p>这里是固定标题</p>
                    <p>这里是固定标题</p>
                    <p>这里是固定标题</p>
                    <p>这里是固定标题</p>
                </div>
                <div id="task" style="height:800px;">
                </div>
                <div id="task_percent" style="height:800px;">
                </div>
                <div id="time" style="height:800px;">
                </div>
                <div id="time_percent" style="height:800px;">
                </div>
                <div >
                    @if (!ViewBag.comment.ToString().Trim().Equals(string.Empty))
                    {
                        <p><h4><b>Comment:</b></h4></p>
                        var comments = ViewBag.comment.Split('\n');
                        foreach (var comm in comments)
                        {
                            <span style="margin: 15px">@comm</span><br />
                        }
                    }
                </div>
                <br/>
            </div>
        </div>

    </div>
</div>
<script>

            function exportReport() {
                html2canvas(document.getElementById("report")).then(function (canvas) {
                    var url = canvas.toDataURL('image/png');
                    var a = document.createElement('a');
                    var event = new MouseEvent('click');
                    a.download = name || '生成报告';
                    a.href = url;
                    a.dispatchEvent(event);
                });
            }

            function getTask() {
                var taskChart = echarts.init(document.getElementById('task'));
                // 指定图表的配置项和数据
                option = {
                    title: {
                        text: 'Project Summary',
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        data: ['Last Month', 'This Month']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    yAxis: {
                        type: 'category',
                        data:  @Html.Raw(Json.Encode(ViewBag.ProjectNames))
                    },
                    series: [
                        {
                            name: 'Last Month',
                            type: 'bar',
                            data: @Html.Raw(Json.Encode(ViewBag.LastTasks)),
                            label: {
                                normal: {
                                    show: true,
                                    position: 'right'
                                }
                            }
                        },
                        {
                            name: 'This Month',
                            type: 'bar',
                            data: @Html.Raw(Json.Encode(ViewBag.CurrentTasks)),
                            label: {
                                normal: {
                                    show: true,
                                    position: 'right'
                                }
                            }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                taskChart.setOption(option);
            }

            function getTaskPercent() {
                var taskPercentChart = echarts.init(document.getElementById('task_percent'));
                var allTasks = @Html.Raw(Json.Encode(ViewBag.CurrentTasks));
                var allProjects =  @Html.Raw(Json.Encode(ViewBag.ProjectNames));
                projectData = [];
                for (var i = 0; i < allTasks.length; i++) {
                    var data = new Object();
                    data.name = allProjects[i];
                    data.value = allTasks[i];
                    projectData.push(data);
                }
                // 指定图表的配置项和数据
                option = {
                    title : {
                        text: 'Total Task',
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'right',
                        data:  @Html.Raw(Json.Encode(ViewBag.ProjectNames))
                    },
                    series : [
                        {
                            name: 'Task Percent',
                            type: 'pie',
                            radius : '55%',
                            center: ['50%', '50%'],
                            label: {
                                normal: {
                                    show: true,
                                    position: 'outside',
                                    formatter: '{b}:{d}%'//模板变量有 {a}、{b}、{c}、{d}，分别表示系列名，数据名，数据值，百分比。{d}数据会根据value值计算百分比
                                }
                            },
                            data: projectData,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                taskPercentChart.setOption(option);
            }

            function getTime() {
                var timeChart = echarts.init(document.getElementById('time'));
                // 指定图表的配置项和数据
                option = {
                    title: {
                        text: 'Time Spend Details',
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        data: ['Last Month', 'This Month']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    yAxis: {
                        type: 'category',
                        data:  @Html.Raw(Json.Encode(ViewBag.ProjectNames))
                    },
                    series: [
                        {
                            name: 'Last Month',
                            type: 'bar',
                            data: @Html.Raw(Json.Encode(ViewBag.LastTimes)),
                            label: {
                                normal: {
                                    show: true,
                                    position: 'right'
                                }
                            }
                        },
                        {
                            name: 'This Month',
                            type: 'bar',
                            data: @Html.Raw(Json.Encode(ViewBag.CurrentTimes)),
                            label: {
                                normal: {
                                    show: true,
                                    position: 'right'
                                }
                            }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                timeChart.setOption(option);
            }


            function getTimePercent() {
                var taskPercentChart = echarts.init(document.getElementById('time_percent'));
                var allTasks = @Html.Raw(Json.Encode(ViewBag.CurrentTimes));
                var allProjects =  @Html.Raw(Json.Encode(ViewBag.ProjectNames));
                projectData = [];
                for (var i = 0; i < allTasks.length; i++) {
                    var data = new Object();
                    data.name = allProjects[i];
                    data.value = allTasks[i];
                    projectData.push(data);
                }
                // 指定图表的配置项和数据
                option = {
                    title : {
                        text: 'Total Time',
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'right',
                        data:  @Html.Raw(Json.Encode(ViewBag.ProjectNames))
                    },
                    series : [
                        {
                            name: 'Task Percent',
                            type: 'pie',
                            radius : '55%',
                            center: ['50%', '50%'],
                            label: {
                                normal: {
                                    show: true,
                                    position: 'outside',
                                    formatter: '{b}:{d}%'//模板变量有 {a}、{b}、{c}、{d}，分别表示系列名，数据名，数据值，百分比。{d}数据会根据value值计算百分比
                                }
                            },
                            data: projectData,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                taskPercentChart.setOption(option);
            }

            getTask();
            getTaskPercent();
            getTime();
            getTimePercent();
</script>
